@charset "utf-8";

html, body {
	min-height:100%;
	height:100%;
	font-family: 'Roboto Condensed', sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}
sup {
	bottom: .5em;
	font-size:.6em;
	margin-left:.1em;
}
.preload {
	display:none;
}
iframe {
	border:0px;
	width:100%;
	height:100%;
}

/* ------------------------------
H1,2,3,p, form elements
------------------------------ */
h1,h2,h3 {
	margin:.5em 0em;
	padding:0px;
	letter-spacing:-.035em;
}
h1 {
	font-size:32px;
	color:#535252;
	font-weight:normal;
}
h2 {
	font-size:30px;
	color:#e19012;
	font-weight:bold;
	margin-top:40px;
}
p {
	font-size:18px;
	color:#5d5b59;
	letter-spacing:-.035em;
	line-height:1.4em;
}
select {
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	font-size:18px;
	padding:5px 15px;
}
input {
	padding:5px 15px;
}
textarea {
	width:75%;
	height:150px;
}
input.price {
	font-size:24px;
	font-weight:bold;
	width:100px;
}
.btn {
	margin:20px inherit;
	font-weight:bold;
	text-transform:uppercase;
}

/* ------------------------------
HEADER / FOOTER
------------------------------ */
header {
	position:relative;
}
header.inside {
	margin-bottom:2.5%;
}
header .menu {
	text-transform:uppercase;
	color:#b0afaf;
	font-size:25px;
	font-weight:bold;
	margin-right:4%;
	display:inline-block;
	background:url(../images/menu-icon.png) no-repeat left center;
	padding-left:40px;
	position:absolute;
	right:0;bottom:0;
	text-decoration:none;
	-webkit-transition: .3s; /* For Safari 3.1 to 6.0 */
    transition: .3s;
}
header .menu:hover {
	color:#e19012;
	background:url(../images/menu-icon-hover.png) no-repeat left center;
}
header .menu-links {
	margin:0px;margin-top:2.5%;
	padding:10px 0px;
	position:absolute;
	top:0;right:0;
	background-color:#e19012;
	color:#fff;
	z-index:100;
	box-shadow:0px 2px 5px rgba(0,0,0,.5);
	border:solid 1px #fff;
	border-right:none;border-top:none;
	display:none;
}
header .menu-links li {
	list-style-type:none;
	margin:0px;
	padding:0px;
}
header .menu-links li a {
	color:#fff;
	padding:10px 20px;
	font-size:24px;
	line-height:1.75em;
	letter-spacing:-.035em;
	font-weight:normal;
}
header .shadow {
	background:url(../images/header-shadow.png) top center repeat-x;
	height:36px;
	width:100%;
	position:absolute;
	margin-top:2.5%;
	background-size:auto 100%;
}
header .logo {
	padding-left:4%;
	margin-left:3px;
	padding-top:2.5%;
	max-width:333px;
}
header a.account {
	background-color:#e19012;
	color:#fff;
	display:inline-block;
	padding:5px 15px;
	text-transform:uppercase;
	text-decoration:none;
	font-size:25px;
	letter-spacing:-.035em;
	font-weight:bold;
	position:absolute;
	top:0;right:0;
	-webkit-transition: .3s; /* For Safari 3.1 to 6.0 */
    transition: .3s;
}
header a.account:hover {
	background-color:#f7a11c;
}

footer {
	width:100%;
	position:fixed;
	bottom:0;
	z-index:20;
	background-color:#45719e;
	color:#fff;
	font-size:34px;
	letter-spacing:-.035em;
	font-weight:bold;
	padding:0% 4%;
	line-height:64px;
	text-shadow:2px 2px 2px rgba(0,0,0,.34);
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
footer.inside {
	position:relative;
}
footer div {
	display:inline-block;
	vertical-align:top;
}
footer ul {
	margin:0px;margin-left:4%;
	padding:0px;padding-left:4%;
	background:url(../images/v-rule.png) left repeat-y;
	vertical-align:top;
	display:inline-block;
}
footer ul li {
	position:absolute;
	margin:0px;margin-left:8%;
	padding:0px;
	list-style-type:none;
	font-size:24px;
	font-weight:normal;
	margin-left:%;
}

/* ------------------------------
MAIN CONTENT
------------------------------ */
section.content {
	padding:2.5% 4%;
	padding-top:40px;
}
section.content.home p {
	font-size:32px;
	color:#535252;
}
a.home-primary {
	text-transform:uppercase;
	font-size:30px;
	color:#e19012;
	font-weight:bold;
	letter-spacing:-.035em;
	margin-top:25px;
	display:inline-block;
	-webkit-transition: .3s; /* For Safari 3.1 to 6.0 */
    transition: .3s;
}
a.home-primary:hover {
	color:#45719e;
	text-decoration:none;
	padding-left:20px;
}
a.home-secondary {
	font-size:20px;
	color:#594e4e;
	letter-spacing:-.035em;
	display:inline-block;
	background:url(../images/h-rule.png) top left repeat-x;
	padding-top:8px;
	margin-top:3px;
	padding-right:75px;
	-webkit-transition: .3s; /* For Safari 3.1 to 6.0 */
    transition: .3s;
}
a.home-secondary:hover {
	color:#000;
	text-decoration:none;
	padding-left:20px;
}
.cancel, .fix, .donate {
	float:right;
	color:#BF0306;
	text-decoration:none;
	display:inline-block;
}
.fix, .donate img {
	padding-right:5px;
	margin-top:-2px;
}

.cancel:hover, .fix:hover, .donate:hover {
	text-decoration:none;
	color:#ff0000;
}

.search {
	background:url(../images/search.png) no-repeat 10px center;
	padding-left:48px;
	padding-top:8px;
	letter-spacing:-.035em;
	font-size:22px;
	border:solid 1px #ccc;
	margin-top:3px;margin-right:8px;
}
.donate-search-result {
	margin:0px;
	padding:0px;
}
.donate-search-result > li {
	margin:10px 0px;
	padding:10px 0px;
	list-style-type:none;
	border-bottom:dotted 1px #ccc;
}
.donate-search-result > li:last-child {
	border-bottom:none;
}
.donate-search-result > li img {
	float:left;
	border:none;
	padding-right:2.5%;
}
.donate-search-result .title {
	font-weight:bold;
	font-size:22px;
	padding-bottom:0px;margin-bottom:0px;
}

/* ------------------------------
BACKGROUND
------------------------------ */
section.bg-cover {
	width:100%;
	height:100%;
	background-color:#fff;
	background-image:url(../images/grandon-grandma.jpg);
	background-repeat:no-repeat;
	background-position:top right;
	background-size:cover;
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
}
div.gradient {
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(20%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,0)));
	background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,0) 100%);
	background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
}

/* ------------------------------
MOBILE
------------------------------ */
@media screen and (max-width: 640px) {
	h1 {
		font-size:24px;
	}
	h2 {
		margin-top:30px;
		font-size:22px;
	}
	textarea {
		width:100%;
	}
	
	header .menu {
		font-size:18px;
	}
	header .shadow {
		height:26px;
	}
	header.inside {
		margin-bottom:0%;
	}
	header .logo {
		width:65%;
	}
	section.bg-cover {
		opacity:.5;
	}
	footer {
		font-size:28px;
		line-height:45px;
		text-align:center;
	}
	footer ul {
		display:none;
	}
	.cancel, .fix, .donate {
		float:none;
		padding-top:10px;
	}
}